.fade-in {
  animation: fadeIn ease 0.3s;
}
.fade-in-delay {
  opacity: 0;
  animation: fadeIn ease 1s 0.2s forwards;
}
.fade-in-delay-2 {
  opacity: 0;
  animation: fadeIn ease 1s 0.4s forwards;
}

.scale {
  animation: scale ease 0.5s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
