.indicators {
  bottom: 2rem;
  position: absolute;
  left: 2.5rem;
  z-index: 20;
  @media (max-width: 980px) {
    left: 1.5rem;
  }
  li {
    margin: 0 0.3rem !important;
  }
}

.text-vertical {
  writing-mode: vertical-lr;
}
#hero-social {
  background-image: url('/assets/social-top.svg');
  background-repeat: no-repeat;
  width: 266px;
  height: 73px;
}

.border-primary {
  border-color: $color-primary;
}

#input-search {
  background-image: url('/assets/magnifying-glass-solid.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: auto 50%;
}

.article-locaciones {
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(0, 255, 127, 0.3);
    .article-layer {
      width: 85%;
    }
  }
}
